:root {
  --primary: #ffffff;
  --background:#272727;
  --primary-text: #ffffff;
  --secondary: #000000;
  --secondary-text: #ffffff;
  --accent: #fdfdfd;
  --accent-text: #ffffff;
  --footer:  #ffffff;
  --link-text:  #ffffff;
  --counter-text:  #ffffff;
  --font-link: font-family: 'Poppins', sans-serif;

  }
